@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background-color: #e7ecef;
    color: #333;
    padding: 20px;
}

header {
    background: #007bff;
    color: #fff;
    padding: 40px 0;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

header h1 {
    font-size: 2.5rem;
}

section {
    margin: 20px 0;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

#about-me h2, #skills-languages h2, #education h2, #projects h2, #volunteering-hobbies h2, #courses h2, #contact-info h2 {
    border-bottom: 2px solid #007bff;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

#about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.profile-pic {
    width: 100%;
    max-width: 150px;
    height: auto;
    border-radius: 50%;
    margin-bottom: 20px;
}

.education-class, .skills-languages-class, .course, .project, .volunteering-hobbies {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.education-class:hover, .skills-languages-class:hover, .project:hover, .course:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.linkedin-button, .github-button {
    padding: 10px 15px;
    margin: 5px;
    background-color: #0077b5;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.2s;
}

.github-button {
    background-color: #333;
}

.linkedin-button:hover {
    background-color: #005983;
}

.github-button:hover {
    background-color: #24292e;
}

footer {
    text-align: center;
    padding: 40px 0;
    background: #333;
    color: white;
}

a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

a:hover {
    background-color: #218838;
}

#contact-info p {
    margin-bottom: 10px;
}
